{% extends 'base.html' %}
{% block title %} BOOK STATES {% endblock %}
{% block content %} 
<div class="container mb-5">
<h1 class="main-title-banner text-center">Estados Uso de Libro</h1>

<a href="{{url_for('state.create')}}" class="btn btn-success my-3">Añadir Nuevo Estado de Uso</a>
<div class="table-card-container">
<div class="table mt-2 table-responsive">
    <table class="table table-hover table-striped custom-table">
        <thead class="custom-table-header">
            <tr>
                <th>ID</th><th>ESTADO DE USO</th><th>DESCRIPCION</th><th colspan="2" class="text-center">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for item in states %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td><a href="{{url_for('state.edit',id=item.id)}}" class="btn btn-sm btn-primary custom-action-btn">Editar</a></td>
                    <td><a href="{{url_for('state.delete',id=item.id)}}" class="btn btn-sm btn-danger custom-action-btn" onclick="return(confirm('Desea eliminar este Estado de Libro?'))">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}