{% extends 'base.html' %}
{% block title %} ORDERS {% endblock %}
{% block content %} 

<div class="container mb-5">
<h1 class="main-title-banner text-center">Historial de Pedidos</h1>
<a href="{{url_for('index_all')}}" class="btn btn-success mb-3">Añadir Nuevo Pedido</a>
<div class="table-card-container ">
<div class="table mt-2 table-responsive">
    <table class="table table-hover table-striped custom-table">
        <thead class="custom-table-header">
            <tr>
                <th>ID</th><th>FECHA</th><th>USUARIO</th><th>TITULO DEL LIBRO</th><th>CANTIDAD</th><th>PRECIO UNITARIO</th><th>TOTAL</th> <th>METODO DE PAGO</th><th colspan="2" class="text-center">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.created_at.strftime('%d/%m/%Y')}}</td>
                    <td>{{item.user_relation.username}}</td>
                    <td>{{item.book_relation.title}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.book_relation.price}}</td>
                    <td>{{"%.2f"|format(item.total)}}</td>
                    <td>{{item.payment_relation.name}}</td>

                    <td><a href="{{url_for('order.edit',id=item.id)}}" class="btn btn-sm  btn-primary custom-action-btn">Editar</a></td>
                    <td><a href="{{url_for('order.delete',id=item.id)}}" class="btn btn-sm btn-danger custom-action-btn" onclick="return(confirm('Desea eliminar este Pedido?'))">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}