{% extends 'base.html' %}
{% block title %} USERS | UPDATE {% endblock %}
{% block content %} 
<div class="container">
<!--only admin-->

<h1 class="main-title-banner text-center">Editar Usuario</h1>

 <div class="row justify-content-center"> {# Usa 'row' y 'justify-content-center' para centrar el contenido #}
        {# Define el ancho de la columna en diferentes tamaños de pantalla #}
    <div class="col-md-8 col-lg-6 form-panel-card">

        <form action="{{url_for('user.edit', id = user.id)}}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control")}}
                {% if form.name.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.name.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control")}}
                {% if form.username.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.username.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Contrasena</label>
                <input type="password" class="form-control" placeholder="Nueva Constraseña" name="passwd">
            </div>
            
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control")}}
                {% if form.email.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.email.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.phone.label(class="form-label") }}
                {{ form.phone(class="form-control")}}
                {% if form.phone.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.phone.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3 form-check d-flex align-items-center"> <!--tambien puede sr end-->
                {{ form.is_admin(class="form-check-input", id="is_admin_check") }}
                <label class="form-check-label ms-2" for="is_admin_check">{{ form.is_admin.label }}</label>
                {% if form.is_admin.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.is_admin.errors %}
                            <span style="color:red">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="my-3 d-flex justify-content-center">
                {{ form.submit(class="btn btn-primary")}}
                <span class="mx-3"></span>
                {{ form.cancel(class="btn btn-danger")}}
            </div>
            
        </form>
    </div>
</div>
</div>
{% endblock %}