{% extends 'base.html' %}
{% block title %} USERS {% endblock %}
{% block content %} 

<div class="container mb-5">
<h1 class="main-title-banner text-center">Usuarios Registrados</h1>


<a href="{{url_for('user.create')}}" class="btn btn-success mb-3">Añadir Nuevo Usuario</a>
<div class="table-card-container">
<div class="table mt-2 table-responsive">
    <table class="table table-hover table-striped custom-table">
        <thead class="custom-table-header">
            <tr>
                <th>ID</th><th>NOMBRE</th><th>USERNAME</th><th>CORREO</th><th>TELEFONO</th><th>ES ADMIN?</th> <th>CREACION</th> <th colspan="2" class="text-center">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for item in users %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{% if item.is_admin %}
                            <p class="text-primary">SI</p>
                        {%else%}
                            <p class="text-danger">NO</p>
                        {% endif %}
                    </td>
                    <td>{{item.created_at.strftime('%d/%m/%Y')}}</td>
                    <td><a href="{{url_for('user.edit',id=item.id)}}" 
                        class="btn btn-sm btn-primary {% if current_user.username == item.username %} disabled {% endif %}  custom-action-btn"> Editar </a></td>
                    <td><a href="{{url_for('user.delete',id=item.id)}}" 
                        class="btn btn-sm btn-danger {% if current_user.username == item.username %} disabled {% endif %}  custom-action-btn" onclick="return(confirm('Desea eliminar este Usuario?'))">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>
{% endblock %}