{% extends 'base.html' %}
{% block title %} USERS | SIGNUP {% endblock %}
{% block content %} 
<!-- all users -->
<h1>REGISTRAR USUARIO </h1>
<form action="{{url_for('user.signup')}}" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control")}}
        {% if form.name.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.name.errors %}
                    <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control")}}
        {% if form.username.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.username.errors %}
                    <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.passwd.label(class="form-label") }}
        {{ form.passwd(class="form-control")}}
        {% if form.passwd.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.passwd.errors %}
                    <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control")}}
        {% if form.email.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.email.errors %}
                    <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.phone.label(class="form-label") }}
        {{ form.phone(class="form-control")}}
        {% if form.phone.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.phone.errors %}
                    <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary")}}
    </div>
    
</form>

{% endblock %}